body {
    font-family: sans-serif;
    background-color: indigo;
    margin-top: 75px;
    background-image: url(http://media1.santabanta.com/full1/Outdoors/Landscapes/landscapes-215a.jpg);
}

.center {
    text-align: center;
    color:white
    
}

.text-big {
    font-size: 300%;
    }

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

